body {
    background-color: #001f3f;
}
h1 {
    color: #FF851B;
    border: 3px black;
}
h2{
    color: white;
}
button {
    background-color: #303030; 
    border: 3px solid gray;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration:none;
    display: inline-block;
    font-size: 20px;
  }
    button:hover {
    background-color: orange;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  #Equation {
    background-color:#303030;
    border: 10px solid gray;
    border-style: ridge;
    padding: 7px;
    text-align: center;
    color: white;
    
  }
  #Equation:hover{
    background-color:orange;
    color: black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }